{"swagger":"2.0","info":{"title":"EBAC - Shop API","description":"P\u00e1gina de teste","version":"6.3.1","contact":{"email":"jose.ernesto@ebac.art.br"}},"host":"lojaebac.ebaconline.art.br","basePath":"\/wp-json","tags":[],"schemes":["http"],"paths":{"\/wc\/v3\/coupons":{"get":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"P\u00e1gina atual da cole\u00e7\u00e3o.","required":false,"type":"string","minimum":1},{"name":"per_page","in":"query","description":"N\u00famero m\u00e1ximo de itens que retornaram no conjunto do resultado.","required":false,"type":"string","maximum":100,"minimum":1},{"name":"search","in":"query","description":"Limita resultados que combinam com uma palavra.","required":false,"type":"string"},{"name":"after","in":"query","description":"Limita resposta para recursos publicados depois de uma data especifica no formato ISO8601.","required":false,"type":"string","format":"date-time"},{"name":"before","in":"query","description":"Limita resposta para recursos publicados antes de uma data especifica no formato ISO8601.","required":false,"type":"string","format":"date-time"},{"name":"dates_are_gmt","in":"query","description":"Whether to use GMT post dates.","required":false,"type":"string"},{"name":"exclude","in":"query","description":"Garante que os resultados excluem um grupo de IDs espec\u00edficos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"include","in":"query","description":"Limita o resultado para IDs especificos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"offset","in":"query","description":"Come\u00e7ar o resultado depois de um n\u00famero de itens especifico.","required":false,"type":"string"},{"name":"order","in":"query","description":"Ordenar atributo de forma ascendente ou descendente.","required":false,"type":"array","items":{"type":"string","enum":["asc","desc"],"default":"desc"},"collectionFormat":"multi"},{"name":"orderby","in":"query","description":"Ordenar conjunto pelo atributo do objeto.","required":false,"type":"array","items":{"type":"string","enum":["date","id","include","title","slug","modified"],"default":"date"},"collectionFormat":"multi"},{"name":"code","in":"query","description":"Limita o resultado para recursos atribu\u00eddos a um c\u00f3digo especifico.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"code","in":"formData","description":"C\u00f3digo do cupom.","required":true,"type":"string"},{"name":"amount","in":"formData","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"formData","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"],"default":"fixed_cart"},"collectionFormat":"multi"},{"name":"description","in":"formData","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"formData","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"formData","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"formData","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"formData","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"formData","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"formData","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"formData","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"formData","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"formData","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"formData","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"formData","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"formData","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"formData","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"formData","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"formData","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/coupons\/{id}":{"get":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"code","in":"formData","description":"C\u00f3digo do cupom.","required":false,"type":"string"},{"name":"amount","in":"formData","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"formData","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"]},"collectionFormat":"multi"},{"name":"description","in":"formData","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"formData","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"formData","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"formData","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"formData","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"formData","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"formData","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"formData","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"formData","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"formData","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"formData","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"formData","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"formData","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"formData","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"formData","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"formData","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"code","in":"query","description":"C\u00f3digo do cupom.","required":false,"type":"string"},{"name":"amount","in":"query","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"query","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"]},"collectionFormat":"multi"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"query","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"query","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"query","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"query","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"query","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"query","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"query","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"query","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"query","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"query","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"query","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"code","in":"query","description":"C\u00f3digo do cupom.","required":false,"type":"string"},{"name":"amount","in":"query","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"query","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"]},"collectionFormat":"multi"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"query","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"query","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"query","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"query","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"query","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"query","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"query","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"query","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"query","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"query","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"query","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"delete":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"force","in":"query","description":"Se necess\u00e1rio, ignorar lixeira e for\u00e7ar a exclus\u00e3o.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/coupons\/batch":{"post":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"code","in":"formData","description":"C\u00f3digo do cupom.","required":false,"type":"string"},{"name":"amount","in":"formData","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"formData","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"]},"collectionFormat":"multi"},{"name":"description","in":"formData","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"formData","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"formData","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"formData","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"formData","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"formData","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"formData","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"formData","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"formData","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"formData","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"formData","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"formData","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"formData","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"formData","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"formData","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"formData","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"code","in":"query","description":"C\u00f3digo do cupom.","required":false,"type":"string"},{"name":"amount","in":"query","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"query","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"]},"collectionFormat":"multi"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"query","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"query","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"query","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"query","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"query","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"query","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"query","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"query","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"query","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"query","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"query","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["coupons"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"code","in":"query","description":"C\u00f3digo do cupom.","required":false,"type":"string"},{"name":"amount","in":"query","description":"O valor do desconto. Deve ser sempre um valor num\u00e9rico, mesmo se for indicar um valor em porcentagem.","required":false,"type":"string"},{"name":"discount_type","in":"query","description":"Determina o tipo de desconto que ser\u00e1 aplicado.","required":false,"type":"array","items":{"type":"string","enum":["percent","fixed_cart","fixed_product"]},"collectionFormat":"multi"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o do cupom.","required":false,"type":"string"},{"name":"date_expires","in":"query","description":"A data em que cupom expira, no fuso hor\u00e1rio do site.","required":false,"type":"string"},{"name":"date_expires_gmt","in":"query","description":"A data em que o cupom expira, em GMT.","required":false,"type":"string"},{"name":"individual_use","in":"query","description":"Caso seja verdadeiro, o cupom poder\u00e1 apenas ser utilizado individualmente. Outros cupons aplicados ser\u00e3o removidos do carrinho.","required":false,"type":"string"},{"name":"product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_ids","in":"query","description":"Lista de IDs de produtos em que o cupom n\u00e3o pode ser utilizado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"usage_limit","in":"query","description":"Total de vezes que este cupom pode ser utilizado.","required":false,"type":"string"},{"name":"usage_limit_per_user","in":"query","description":"Quantas vezes o cupom pode ser utilizado por um cliente.","required":false,"type":"string"},{"name":"limit_usage_to_x_items","in":"query","description":"N\u00famero m\u00e1ximo de itens no carrinho em que o cupom pode ser aplicado.","required":false,"type":"string"},{"name":"free_shipping","in":"query","description":"Caso seja verdadeiro e exista um m\u00e9todo de entrega que requer cupom, este cupom ir\u00e1 ativar a entrega gratuita.","required":false,"type":"string"},{"name":"product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"excluded_product_categories","in":"query","description":"Lista de IDs de categorias em que o cupom n\u00e3o pode ser aplicado.","required":false,"type":"string","items":{"type":"integer"}},{"name":"exclude_sale_items","in":"query","description":"Caso seja verdadeiro, este cupom n\u00e3o ser\u00e1 aplicado para itens em promo\u00e7\u00e3o.","required":false,"type":"string"},{"name":"minimum_amount","in":"query","description":"Valor m\u00ednimo de pedido necess\u00e1rio para que o cupom seja aplicado no carrinho.","required":false,"type":"string"},{"name":"maximum_amount","in":"query","description":"Valor m\u00e1ximo do pedido permitido quando usado o cupom.","required":false,"type":"string"},{"name":"email_restrictions","in":"query","description":"Lista de endere\u00e7os de e-mails de clientes que podem utilizar este cupom.","required":false,"type":"string","items":{"type":"string"}},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/customers\/{customer_id}\/downloads":{"get":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"customer_id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/customers":{"get":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"P\u00e1gina atual da cole\u00e7\u00e3o.","required":false,"type":"string","minimum":1},{"name":"per_page","in":"query","description":"N\u00famero m\u00e1ximo de itens retornados no resultado.","required":false,"type":"string","maximum":100,"minimum":1},{"name":"search","in":"query","description":"Limitar resultados para aqueles que combinam com um texto.","required":false,"type":"string"},{"name":"exclude","in":"query","description":"Garante que os resultados excluem um grupo de IDs espec\u00edficos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"include","in":"query","description":"Limita o resultado para um conjunto de IDs espec\u00edficos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"offset","in":"query","description":"Come\u00e7ar o resultado depois de um n\u00famero de itens especifico.","required":false,"type":"string"},{"name":"order","in":"query","description":"Ordenar atributo de forma ascendente ou descendente.","required":false,"type":"array","items":{"type":"string","enum":["asc","desc"],"default":"asc"},"collectionFormat":"multi"},{"name":"orderby","in":"query","description":"Ordenar conjunto pelo atributo do objeto.","required":false,"type":"array","items":{"type":"string","enum":["id","include","name","registered_date"],"default":"name"},"collectionFormat":"multi"},{"name":"email","in":"query","description":"Limita o resultado para recursos atribu\u00eddos a um e-mail especifico.","required":false,"type":"string","format":"email"},{"name":"role","in":"query","description":"Limita o resultado para recursos atribu\u00eddos a uma fun\u00e7\u00e3o especifica.","required":false,"type":"array","items":{"type":"string","enum":["all","administrator","editor","author","contributor","subscriber","customer","shop_manager","translator"],"default":"customer"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"email","in":"formData","description":"Novo e-mail de usu\u00e1rio.","required":true,"type":"string"},{"name":"first_name","in":"formData","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"formData","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"formData","description":"Novo nome de usu\u00e1rio.","required":false,"type":"string"},{"name":"password","in":"formData","description":"Nova senha de usu\u00e1rio.","required":true,"type":"string"},{"name":"billing","in":"formData","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"formData","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/customers\/{id}":{"get":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"email","in":"formData","description":"Endere\u00e7o de e-mail do cliente.","required":false,"type":"string","format":"email"},{"name":"first_name","in":"formData","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"formData","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"formData","description":"Nome de login do cliente.","required":false,"type":"string"},{"name":"password","in":"formData","description":"Senha do cliente.","required":false,"type":"string"},{"name":"billing","in":"formData","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"formData","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"email","in":"query","description":"Endere\u00e7o de e-mail do cliente.","required":false,"type":"string","format":"email"},{"name":"first_name","in":"query","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"query","description":"Nome de login do cliente.","required":false,"type":"string"},{"name":"password","in":"query","description":"Senha do cliente.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"email","in":"query","description":"Endere\u00e7o de e-mail do cliente.","required":false,"type":"string","format":"email"},{"name":"first_name","in":"query","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"query","description":"Nome de login do cliente.","required":false,"type":"string"},{"name":"password","in":"query","description":"Senha do cliente.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"delete":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"force","in":"query","description":"Requerido para ser true, desde que o recurso n\u00e3o tem suporte a lixeira.","required":false,"type":"string"},{"name":"reassign","in":"query","description":"ID para reatribuir posts.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/customers\/batch":{"post":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"email","in":"formData","description":"Endere\u00e7o de e-mail do cliente.","required":false,"type":"string","format":"email"},{"name":"first_name","in":"formData","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"formData","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"formData","description":"Nome de login do cliente.","required":false,"type":"string"},{"name":"password","in":"formData","description":"Senha do cliente.","required":false,"type":"string"},{"name":"billing","in":"formData","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"formData","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"email","in":"query","description":"Endere\u00e7o de e-mail do cliente.","required":false,"type":"string","format":"email"},{"name":"first_name","in":"query","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"query","description":"Nome de login do cliente.","required":false,"type":"string"},{"name":"password","in":"query","description":"Senha do cliente.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["customers"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"email","in":"query","description":"Endere\u00e7o de e-mail do cliente.","required":false,"type":"string","format":"email"},{"name":"first_name","in":"query","description":"Nome do cliente.","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Sobrenome do cliente.","required":false,"type":"string"},{"name":"username","in":"query","description":"Nome de login do cliente.","required":false,"type":"string"},{"name":"password","in":"query","description":"Senha do cliente.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Lista de dados de endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Lista de dados de endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/orders\/{order_id}\/notes":{"get":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"order_id","in":"path","description":"O ID do pedido.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"},{"name":"type","in":"query","description":"Limita resultado para clientes ou notas internas.","required":false,"type":"array","items":{"type":"string","enum":["any","customer","internal"],"default":"any"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"order_id","in":"path","description":"O ID do pedido.","required":true,"type":"string"},{"name":"note","in":"formData","description":"Conte\u00fado da nota do pedido.","required":true,"type":"string"},{"name":"customer_note","in":"formData","description":"Caso seja verdadeiro, a nota ser\u00e1 exibida para clientes e eles ser\u00e3o notificados. Caso seja falso a nota ser\u00e1 exibida apenas no painel administrativo para refer\u00eancia.","required":false,"type":"string"},{"name":"added_by_user","in":"formData","description":"Se for verdadeiro, essa nota ser\u00e1 atribu\u00edda ao usu\u00e1rio atual. Se for falso, a nota ser\u00e1 atribu\u00edda ao sistema.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/orders\/{order_id}":{"get":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"order_id","in":"path","description":"O ID do pedido.","required":true,"type":"string"},{"name":"id","in":"query","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"delete":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"order_id","in":"path","description":"O ID do pedido.","required":true,"type":"string"},{"name":"id","in":"query","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"force","in":"query","description":"Requerido para ser true, desde que o recurso n\u00e3o tem suporte a lixeira.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/orders\/{order_id}\/refunds":{"get":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"order_id","in":"path","description":"O ID do pedido.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"P\u00e1gina atual da cole\u00e7\u00e3o.","required":false,"type":"string","minimum":1},{"name":"per_page","in":"query","description":"N\u00famero m\u00e1ximo de itens que retornaram no conjunto do resultado.","required":false,"type":"string","maximum":100,"minimum":1},{"name":"search","in":"query","description":"Limita resultados que combinam com uma palavra.","required":false,"type":"string"},{"name":"after","in":"query","description":"Limita resposta para recursos publicados depois de uma data especifica no formato ISO8601.","required":false,"type":"string","format":"date-time"},{"name":"before","in":"query","description":"Limita resposta para recursos publicados antes de uma data especifica no formato ISO8601.","required":false,"type":"string","format":"date-time"},{"name":"dates_are_gmt","in":"query","description":"Whether to use GMT post dates.","required":false,"type":"string"},{"name":"exclude","in":"query","description":"Garante que os resultados excluem um grupo de IDs espec\u00edficos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"include","in":"query","description":"Limita o resultado para IDs especificos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"offset","in":"query","description":"Come\u00e7ar o resultado depois de um n\u00famero de itens especifico.","required":false,"type":"string"},{"name":"order","in":"query","description":"Ordenar atributo de forma ascendente ou descendente.","required":false,"type":"array","items":{"type":"string","enum":["asc","desc"],"default":"desc"},"collectionFormat":"multi"},{"name":"orderby","in":"query","description":"Ordenar conjunto pelo atributo do objeto.","required":false,"type":"array","items":{"type":"string","enum":["date","id","include","title","slug","modified"],"default":"date"},"collectionFormat":"multi"},{"name":"parent","in":"query","description":"Limita o resultado para aqueles com IDs de ascendente em particular.","required":false,"type":"string","items":{"type":"integer"}},{"name":"parent_exclude","in":"query","description":"Limita o resultado para todos os itens, exceto para os com um ID de ascendente em particular.","required":false,"type":"string","items":{"type":"integer"}},{"name":"dp","in":"query","description":"N\u00famero de pontos decimais que ser\u00e3o utilizados em cada recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"order_id","in":"path","description":"O ID do pedido.","required":true,"type":"string"},{"name":"amount","in":"formData","description":"Valor do reembolso.","required":false,"type":"string"},{"name":"reason","in":"formData","description":"Motivo do reembolso.","required":false,"type":"string"},{"name":"refunded_by","in":"formData","description":"ID do usu\u00e1rio que criou o reembolso.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"api_refund","in":"formData","description":"A API do m\u00e9todo de pagamento \u00e9 utilizado para gerar o reembolso quando for verdadeiro.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/orders":{"get":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"P\u00e1gina atual da cole\u00e7\u00e3o.","required":false,"type":"string","minimum":1},{"name":"per_page","in":"query","description":"N\u00famero m\u00e1ximo de itens que retornaram no conjunto do resultado.","required":false,"type":"string","maximum":100,"minimum":1},{"name":"search","in":"query","description":"Limita resultados que combinam com uma palavra.","required":false,"type":"string"},{"name":"after","in":"query","description":"Limita resposta para recursos publicados depois de uma data especifica no formato ISO8601.","required":false,"type":"string","format":"date-time"},{"name":"before","in":"query","description":"Limita resposta para recursos publicados antes de uma data especifica no formato ISO8601.","required":false,"type":"string","format":"date-time"},{"name":"dates_are_gmt","in":"query","description":"Whether to use GMT post dates.","required":false,"type":"string"},{"name":"exclude","in":"query","description":"Garante que os resultados excluem um grupo de IDs espec\u00edficos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"include","in":"query","description":"Limita o resultado para IDs especificos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"offset","in":"query","description":"Come\u00e7ar o resultado depois de um n\u00famero de itens especifico.","required":false,"type":"string"},{"name":"order","in":"query","description":"Ordenar atributo de forma ascendente ou descendente.","required":false,"type":"array","items":{"type":"string","enum":["asc","desc"],"default":"desc"},"collectionFormat":"multi"},{"name":"orderby","in":"query","description":"Ordenar conjunto pelo atributo do objeto.","required":false,"type":"array","items":{"type":"string","enum":["date","id","include","title","slug","modified"],"default":"date"},"collectionFormat":"multi"},{"name":"parent","in":"query","description":"Limita o resultado para aqueles com IDs de ascendente em particular.","required":false,"type":"string","items":{"type":"integer"}},{"name":"parent_exclude","in":"query","description":"Limita o resultado para todos os itens, exceto para os com um ID de ascendente em particular.","required":false,"type":"string","items":{"type":"integer"}},{"name":"status","in":"query","description":"Limita os resultados para pedidos com status espec\u00edficos.","required":false,"type":"string","items":{"type":"string"}},{"name":"customer","in":"query","description":"Limita o resultado para pedidos atribu\u00eddos a um cliente especifico.","required":false,"type":"string"},{"name":"product","in":"query","description":"Limita o resultado para pedidos atribu\u00eddos a um produto especifico.","required":false,"type":"string"},{"name":"dp","in":"query","description":"N\u00famero de pontos decimais que ser\u00e3o utilizados em cada recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"parent_id","in":"formData","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"formData","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"],"default":"pending"},"collectionFormat":"multi"},{"name":"currency","in":"formData","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"],"default":"BRL"},"collectionFormat":"multi"},{"name":"customer_id","in":"formData","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"formData","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"formData","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"formData","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"formData","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"formData","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"formData","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"formData","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"formData","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"formData","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"formData","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"formData","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/orders\/{id}":{"get":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"parent_id","in":"formData","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"formData","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"]},"collectionFormat":"multi"},{"name":"currency","in":"formData","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"collectionFormat":"multi"},{"name":"customer_id","in":"formData","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"formData","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"formData","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"formData","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"formData","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"formData","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"formData","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"formData","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"formData","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"formData","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"formData","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"formData","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"parent_id","in":"query","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"query","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"]},"collectionFormat":"multi"},{"name":"currency","in":"query","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"collectionFormat":"multi"},{"name":"customer_id","in":"query","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"query","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"query","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"query","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"query","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"query","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"query","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"query","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"query","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"query","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"parent_id","in":"query","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"query","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"]},"collectionFormat":"multi"},{"name":"currency","in":"query","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"collectionFormat":"multi"},{"name":"customer_id","in":"query","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"query","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"query","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"query","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"query","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"query","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"query","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"query","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"query","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"query","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"delete":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"force","in":"query","description":"Se necess\u00e1rio, ignorar lixeira e for\u00e7ar a exclus\u00e3o.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/orders\/batch":{"post":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"parent_id","in":"formData","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"formData","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"]},"collectionFormat":"multi"},{"name":"currency","in":"formData","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"collectionFormat":"multi"},{"name":"customer_id","in":"formData","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"formData","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"formData","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"formData","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"formData","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"formData","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"formData","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"formData","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"formData","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"formData","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"formData","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"formData","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"formData","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"parent_id","in":"query","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"query","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"]},"collectionFormat":"multi"},{"name":"currency","in":"query","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"collectionFormat":"multi"},{"name":"customer_id","in":"query","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"query","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"query","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"query","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"query","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"query","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"query","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"query","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"query","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"query","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["orders"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"parent_id","in":"query","description":"ID do pedido ascendente.","required":false,"type":"string"},{"name":"status","in":"query","description":"Status do pedido.","required":false,"type":"array","items":{"type":"string","enum":["pending","processing","on-hold","completed","cancelled","refunded","failed"]},"collectionFormat":"multi"},{"name":"currency","in":"query","description":"Moeda em que o pedido foi criado, em formato ISO.","required":false,"type":"array","items":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"collectionFormat":"multi"},{"name":"customer_id","in":"query","description":"ID do usu\u00e1rio que \u00e9 dono do pedido. 0 para convidados.","required":false,"type":"string"},{"name":"customer_note","in":"query","description":"Nota deixada pelo cliente durante a finaliza\u00e7\u00e3o.","required":false,"type":"string"},{"name":"billing","in":"query","description":"Endere\u00e7o de faturamento.","required":false,"type":"string"},{"name":"shipping","in":"query","description":"Endere\u00e7o de entrega.","required":false,"type":"string"},{"name":"payment_method","in":"query","description":"ID do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"payment_method_title","in":"query","description":"T\u00edtulo do m\u00e9todo de pagamento.","required":false,"type":"string"},{"name":"transaction_id","in":"query","description":"ID exclusivo da transa\u00e7\u00e3o.","required":false,"type":"string"},{"name":"meta_data","in":"query","description":"Metadados.","required":false,"type":"string","items":{"type":"object"}},{"name":"line_items","in":"query","description":"Linhas de dados de itens.","required":false,"type":"string","items":{"type":"object"}},{"name":"shipping_lines","in":"query","description":"Linhas de dados de entrega.","required":false,"type":"string","items":{"type":"object"}},{"name":"fee_lines","in":"query","description":"Linhas de dados de taxas.","required":false,"type":"string","items":{"type":"object"}},{"name":"coupon_lines","in":"query","description":"Linhas de dados de cupons.","required":false,"type":"string","items":{"type":"object"}},{"name":"set_paid","in":"query","description":"Define se o pedido foi pago. Ir\u00e1 mudar o status para processando e reduzir os itens em estoque.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/products\/attributes\/{attribute_id}\/terms":{"get":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"P\u00e1gina atual da cole\u00e7\u00e3o.","required":false,"type":"string","minimum":1},{"name":"per_page","in":"query","description":"N\u00famero m\u00e1ximo de itens retornados no resultado.","required":false,"type":"string","maximum":100,"minimum":1},{"name":"search","in":"query","description":"Limitar resultados para aqueles que combinam com um texto.","required":false,"type":"string"},{"name":"exclude","in":"query","description":"Garante que os resultados excluem um grupo de IDs espec\u00edficos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"include","in":"query","description":"Limita o resultado para IDs especificos.","required":false,"type":"string","items":{"type":"integer"}},{"name":"offset","in":"query","description":"Offset the result set by a specific number of items. Applies to hierarchical taxonomies only.","required":false,"type":"string"},{"name":"order","in":"query","description":"Ordenar atributo de forma ascendente ou descendente.","required":false,"type":"array","items":{"type":"string","enum":["asc","desc"],"default":"asc"},"collectionFormat":"multi"},{"name":"orderby","in":"query","description":"Ordenar cole\u00e7\u00e3o por atributos de recurso.","required":false,"type":"array","items":{"type":"string","enum":["id","include","name","slug","term_group","description","count"],"default":"name"},"collectionFormat":"multi"},{"name":"hide_empty","in":"query","description":"Se deve ocultar recursos n\u00e3o atribu\u00eddos a nenhum produto.","required":false,"type":"string"},{"name":"parent","in":"query","description":"Limit result set to resources assigned to a specific parent. Applies to hierarchical taxonomies only.","required":false,"type":"string"},{"name":"product","in":"query","description":"Limita o resultado para recursos atribu\u00eddos a um produto especifico.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Limita o resultado para recursos atribu\u00eddos a um slug especifico.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"formData","description":"Nome para o recurso.","required":true,"type":"string"},{"name":"slug","in":"formData","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"formData","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"formData","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/products\/attributes\/{attribute_id}":{"get":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"formData","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"formData","description":"Nome do termo.","required":false,"type":"string"},{"name":"slug","in":"formData","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"formData","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"formData","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"query","description":"Nome do termo.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"query","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"query","description":"Nome do termo.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"query","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"delete":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Identificador exclusivo do recurso.","required":false,"type":"string"},{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"force","in":"query","description":"Requerido para ser true, desde que o recurso n\u00e3o tem suporte a lixeira.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/products\/attributes\/{attribute_id}\/terms\/batch":{"post":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"formData","description":"Nome do termo.","required":false,"type":"string"},{"name":"slug","in":"formData","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"formData","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"formData","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"query","description":"Nome do termo.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"query","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"attribute_id","in":"path","description":"Identificador exclusivo para o atributo dos termos.","required":true,"type":"string"},{"name":"name","in":"query","description":"Nome do termo.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"description","in":"query","description":"Descri\u00e7\u00e3o em HTML do recurso.","required":false,"type":"string"},{"name":"menu_order","in":"query","description":"Ordem do menu, usado na classifica\u00e7\u00e3o personalizada do recurso.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/products\/attributes":{"get":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"name","in":"formData","description":"Nome para o recurso.","required":true,"type":"string"},{"name":"slug","in":"formData","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"type","in":"formData","description":"Tipo do atributo.","required":false,"type":"array","items":{"type":"string","enum":["select","color","image","button"],"default":"select"},"collectionFormat":"multi"},{"name":"order_by","in":"formData","description":"Ordena\u00e7\u00e3o padr\u00e3o.","required":false,"type":"array","items":{"type":"string","enum":["menu_order","name","name_num","id"],"default":"menu_order"},"collectionFormat":"multi"},{"name":"has_archives","in":"formData","description":"Ativar\/desativar arquivos de atributos.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}}},"\/wc\/v3\/products\/attributes\/{id}":{"get":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"context","in":"query","description":"Escopo sob qual a requisi\u00e7\u00e3o \u00e9 feita, determina os campos presentes na resposta.","required":false,"type":"array","items":{"type":"string","enum":["view","edit"],"default":"view"},"collectionFormat":"multi"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"post":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"name","in":"formData","description":"Nome do atributo.","required":false,"type":"string"},{"name":"slug","in":"formData","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"type","in":"formData","description":"Tipo do atributo.","required":false,"type":"array","items":{"type":"string","enum":["select","color","image","button"]},"collectionFormat":"multi"},{"name":"order_by","in":"formData","description":"Ordena\u00e7\u00e3o padr\u00e3o.","required":false,"type":"array","items":{"type":"string","enum":["menu_order","name","name_num","id"]},"collectionFormat":"multi"},{"name":"has_archives","in":"formData","description":"Ativar\/desativar arquivos de atributos.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"put":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"name","in":"query","description":"Nome do atributo.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"type","in":"query","description":"Tipo do atributo.","required":false,"type":"array","items":{"type":"string","enum":["select","color","image","button"]},"collectionFormat":"multi"},{"name":"order_by","in":"query","description":"Ordena\u00e7\u00e3o padr\u00e3o.","required":false,"type":"array","items":{"type":"string","enum":["menu_order","name","name_num","id"]},"collectionFormat":"multi"},{"name":"has_archives","in":"query","description":"Ativar\/desativar arquivos de atributos.","required":false,"type":"string"}],"security":[{"basic":[]}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"}}},"patch":{"tags":["products"],"summary":"","description":"","consumes":["application\/x-www-form-urlencoded","multipart\/form-data"],"produces":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Identificador exclusivo do recurso.","required":true,"type":"string"},{"name":"name","in":"query","description":"Nome do atributo.","required":false,"type":"string"},{"name":"slug","in":"query","description":"Um identificador alfanum\u00e9rico para o recurso exclusivo para o seu tipo.","required":false,"type":"string"},{"name":"type","in":"query","description":"Tipo do atributo.","required":false,"type":"array","items":{"type":"string","enum":["select","color","image","button"]},"collectionFormat":"multi"},{"name":"order_by","in":"query","description":"Ordena\u00e7\u00e3o padr\u00e3
[...]
